<h1>タスク一覧</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.id, task %> &raquo; 進捗:<%= task.status %> ／ 内容:<%= task.content %></li>
  <% end %>
</ul>
<%= paginate @tasks %>
<%= link_to '新規タスク作成', new_task_path %>


<!--link_to は Rails が提供する便利メソッドで、 link_to 表示文字列, リンク先 という形で記述します。
ここでは、表示文字列 は message.id つまりメッセージの id であり、リンク先 は message となっています。
リンク先 として message のように Model のインスタンス（レコード）を渡すと、自動的にそのインスタンスの show アクションへと
リンクされるようになります。-->